.orderWrapperAddProduct {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.contentRegions {
  height: 130px !important;
}

.modalEdit {
  display: flex;
  justify-content: space-around;
}

.modalEditManagerSelect {
  width: 100% !important;
}
