.orderWrapper {
  height: 130px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputWrapper {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.modalAddItemSelect > input {
  width: 100px !important;
  padding-bottom: 10px;
}
