.orderWrapper {
  height: 130px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputWrapper {
  display: flex;
  justify-content: space-around;
}

.modalAddItemSelect {
  width: 80% !important;
  padding-bottom: 10px;
}
