.elementWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.elementWrapperChild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.magazineInput > input {
  width: 100px;
}

.discountBold {
  font-weight: bold;
  color: #66cc32 !important;
}
