.orderWrapperAddProduct {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.contentAddProduct {
  height: 280px !important;
}

.inputWrapper {
  display: flex;
  justify-content: space-around;
}

.modalAddItemSelect {
  width: 80% !important;
}
